.gol__grid {
	background-color: rgb(36, 36, 36);
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 15px;
	right: 15px;
	top: 15px;
	bottom: 15px;
}

.gol__row {
	display: flex;
	flex-basis: 100%;
}